.sequence-popup > Label {
    max-width: 119px;
}

.sequence__wide-inspector .sequence-popup > Label {
    max-width: none;
    margin-right: -28px;
    width: 45%;
}

.sequence__wide-inspector.sequence__with-scroller .sequence-popup > Label {
    max-width: none;
    margin-right: -22px;
    width: 45%;
}